<script src="./public/js/navBar.js"></script>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Uno game</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <!-- <a class="p-2 text-dark" href="#">Features</a> -->
          <!-- <a class="p-2 text-dark" href="#">Enterprise</a> -->
          <?php 
            if ($session !== null) {
              if ($session['role'] == "ADMIN") {
                echo '<a class="btn btn-outline"  href="?page=adminPanel">Admin panel</a> ';
              }
            } 
          ?> 

          <a class="p-2 text-dark" href="">
              <?php 
              if($session['username'] == null) {
                echo "";
              } 
              else {
                echo $session['username'];
              }
              ?> 
          </a>
        </nav>
      
          <?php 
            if($session == null) {
              echo '<a class="btn btn-outline-primary"  href="?page=login">Log in</a> ';
            } 
            else {
              echo '<a class="btn btn-outline-danger"  href="?page=logout">Log out</a> ';
            }
          ?> 
  </div>
