.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.cover {
  background: url('../../resources/images/indexBackground.png') no-repeat center center fixed;
  background-size: cover;
}

.bg-blue {
  background-color: #005783 !important;
}

.bg-lightblue {
  background-color: #98deff !important;
}

.bg-lightgray {
  background-color: #dee7eb !important;
}

.windowSetting {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px lightblue;
  border-style: groove;
}

.p {
  border: 3px solid lightblue;
  border-radius: 6px;
}

.loginSetting {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  margin-bottom: 10px;
  border: 5px #5f94af;
  border-style: outset;
  border-radius: 10px;
  background-color: rgba(0, 82, 162, 0.85);;
}


.panel-login {

}

.panel-login>.panel-heading {
  border-radius: 10px;
  color: #00415d;
  text-align:center;
}
.panel-login>.panel-heading a{
text-decoration: none;
color: #fff;
font-weight: bold;
font-size: 15px;
text-shadow: 0 0 12px #000;
outline: none;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
color: #d7b700;
font-size: 19px;
}
.panel-login>.panel-heading hr{
margin-top: 10px;
margin-bottom: 0px;
clear: both;
border: 0;
height: 3px;
background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0));
background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.40),rgba(0,0,0,0));
background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.40),rgba(0,0,0,0));
background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.40),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
height: 45px;
border: 1px solid #ddd;
font-size: 16px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
outline:none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border-color: #ccc;
}
.btn-login {
background-color: #59B2E0;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
color: #fff;
background-color: #53A3CD;
border-color: #53A3CD;
}
.forgot-password {
text-decoration: underline;
color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
text-decoration: underline;
color: #666;
}

.btn-register {
background-color: #1CB94E;
outline: none;
color: #fff;
font-size: 14px;
height: auto;
font-weight: normal;
padding: 14px 0;
text-transform: uppercase;
border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
color: #fff;
background-color: #1CA347;
border-color: #1CA347;
}

.settings-column {
  width: 20vw;
}
.settings-column input {
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 3px;
  padding: 4px;
  margin: 10px 0;
  width: 19vw;
}
.settings-column button {
  background: none;
  border: none;
  color: #065fd4;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin: 12px;
  outline: none;
  text-transform: uppercase;
}
.settings-column span {
  display: block;
  padding: 4px;
  margin: 10px 0;
}
.settings-row {
  display: flex;
  flex-direction: row;
}
