
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bg-blue {
  background-color: #005783 !important;
}

.bg-lightblue {
  background-color: #98deff !important;
}

.bg-lightgray {
  background-color: #dee7eb !important;
}
